@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif !important;
}
.header-logo {
  width: 100%;
  height: 35px;
}
button {
  font-family: "Inter", sans-serif; 
}
@keyframes slideInTop {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.custom-appbar {
  box-shadow: none !important;
  transition: background-color 0.3s ease;
  padding: 10px 100px;
  background-color: transparent !important;
}

.custom-appbar.scrolled {
  background-color: black !important;
}
.nav-link {
  font-size: 16px;
}

.banner-main {
  background:#041e18;
  padding:80px 80px 0px 80px;
}
.banner-container {
  display: flex;
}
.text-box {
  background:#072720;
  border-radius:8px;
  border:1px solid #133b32;
  color:white;
  padding:30px 30px;
  position:relative;
  top:-20%;
  left:20%;
  width:60%;
}
.banner-desc {
color:#99b3ad;
font-size:20px;
font-weight:300;
line-height:normal;
padding-bottom:70px;
width:500px;
}
.selling-banner-img {
display: flex;
gap: 20px;
}

.image-text-container {
display: flex;
gap: 50px;
justify-content: center;
}

.img-container {
width:300px;
height: 330px;
border-radius:20px;
overflow:hidden;
background:#000;
animation:fadeIn 0.4s ease-in-out;
}

.step-section-heading {
  font-size: 55px;
  color: white;
  text-align: center;
  font-weight: 300;
  margin-bottom: 40px;
}

.step-heading {
  color: white;
  font-size: 48px;
  font-weight: 300;
  display: flex;
  gap: 30px;
  align-items: center;
  transition: color 0.3s ease;
  cursor: pointer;
  margin-bottom: 20px;
}

.step-heading:hover {
  color: white !important;
}

.step-heading.inactive {
  color: #888;
}

.step-number {
  color: #36f4a4;
  font-size: 28px;
}

.selling-banner-container {
background:#02090a;
padding:40px 80px;
}

.selling-banner-textContainer { 
  display:flex;
  justify-content:space-between;
  align-items:baseline;
  color:#fff;
}

.selling-banner-heading {
font-size:55px;
font-weight:200;
line-height:1;
}

.videoCard-section-heading {
color:white;
font-size:55px;
font-weight:30;
padding-bottom:50px;
}

.videoCard-text-container { 
  padding-left:100px;
}

.video-box {
  display:flex;
  justify-content:center;
  gap:1rem;
}

.card_container { 
  display: flex;
  justify-content: center;
  align-items:end;
  gap: 80px;
  padding-bottom:30px;
  padding-top:50px;
}
.card-section-heading { 
  color:white;
 font-size:55px;;
 font-weight:300;;
 line-height:1.1em;
}
.card-main {
display: flex;
justify-content: center;
gap: 30px;
align-items: baseline;
padding-top: 50px;
background: #02090A;
flex-wrap:wrap;
}

@media (max-width: 425px) {

.custom-appbar {
padding:10px 20px;
}

.card_container {
flex-direction: column;
align-items: baseline;
gap: 0;
padding: 20px;
}

.card-section-heading {
font-size: 25px;
color:white !important;
font-weight:300;
line-height:1.1em;
padding-bottom: 20px;
}
.card-main {
padding-top: 20px;
}
.video-box {
display: flex;
flex-direction: column;
padding: 20px;
gap:20px;
}
.videoCard-section-heading {
font-size: 30px;
color: white;
font-weight: 300;
padding: 0;
}
.videoCard-text-container {
padding: 20px;

}
.banner-container {
  flex-direction: column;
}
.banner-main {
padding: 20px;
background:#041e18;
}
.banner-desc {
  width: 100%;
}
.text-box {
width: 100%;
left: 0;
margin-top: 20px;
} 
.selling-banner-img { 
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.image-text-container { 
  flex-direction: column;
}
.img-container {
 display: none;
}
.step-section-heading {
  font-size: 35px; 
  margin: 0;
}
.step-heading { 
  font-size: 30px;
}
.selling-banner-container {
padding:20px;
}
.selling-banner-textContainer {
flex-direction: column;
}
.selling-banner-heading {
  font-size: 40px;
  padding-bottom: 20px;
}
}



